@use "../base/variables" as var;
@use "../base/baseline" as base;

.full-width-split {
  @include base.atMedium {
    display: flex;
  }

  &__one {
    flex: 1;
    padding: 1.6rem 16px;
    @include base.atMedium {
      padding: 40px;
    }

    .full-width-split__inner {
      @include base.atMedium {
        float: right;
      }
    }
  }

  &__two {
    flex: 1;
    background-color: var.$beige;
    padding: 1.6rem 16px;
    @include base.atMedium {
      padding: 40px;
    }
  }

  &__inner {
    @media (min-width: 1350px) {
      width: 610px;
    }
  }
}
